@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: #000;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  background-color: #0D0D0D;
  color: #FFFFFF;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

#root {
  height: 100%;
}
